<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Acccounts</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url "logout" %}">Logout</a></li>
                <li><a href="{% url "create_receipt" %}">Create Receipt</a></li>
                <li><a href="{% url "list_expense_category" %}">List Expense Categories</a></li>
                <li><a href="{% url "create_category" %}">Create Expense Category</a></li>
                <li><a href="{% url "list_accounts" %}">List Accounts</a></li>
                <li><a href="{% url "create_account" %}">Create Account</a></li>
                {% endif %}
                {% if not user.is_authenticated %}
                <li><a href="{% url "signup" %}">Signup</a></li>
                <li><a href="{% url "login" %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <h1>My Accounts</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
            {% for account in account_list %}
            <tr>
                <td>{{ account.name }}</td>
                <td>{{ account.number }}</td>
                <td>{{ account|length }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>
